.container{
    width: 350px;
    margin: 0 auto;
}
.checkBtn {
    cursor: pointer;
    background-color: #019CD4;
    color: white;
}
input, .checkBtn{
    margin-top: 50px;
    font-size: 1.3em;
    padding: 5px;
}
.showResult{
    font-size: 1.3em;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -30px;
    color: #e74c3c;
}
